<div class="container" >
       <div> 
        <table width="100%" border="0">
          <tr >
            <td>
              <h4> <p> Choir Schedule <input type="text"  [(ngModel)]='searchName' (ngModelChange)="filterData($event)" placeholder="Search in Name"/>  
              <input type="date"  [(ngModel)]='searchDate' (ngModelChange)="filterDate($event)"/>  
              
              </p> <p> {{error}} </p> </h4>
            </td>
            <td align="right"> 
              <input type="image" class='btn'   (click)='goHome()' [disabled]="editFlag"  src="app/image/backhome.png" title="Home"/>
            </td>
          </tr>
        </table>
      
      </div>
      <div class="table-responsive">
           <table class="table table-bordered table-hover"> 
                <thead>
                        <th> # </th> 
                        <th>Date</th>
                        <th>Name</th>
                        <th>Entrance</th>
                        <th>Offertory</th>
                        <th>Communion</th>
                        <th>Sending</th>
                        <th> <input type="image" class='btn' [disabled]="editFlag" (click)="addData()" value="Add" src="app/image/newb.png"  title="Create"/> </th>
                 </thead>
                <tbody> 
                    <tr *ngFor="let data of schData ; let rowindex = index">
                        <td *ngIf='!editFlag || data._id !== editId'> {{rowindex+1}} </td> 
                        <td *ngIf='!editFlag || data._id !== editId'> {{data.date}}        </td>
                        <td *ngIf='!editFlag || data._id !== editId'> {{data.name}}        </td>
                        <td *ngIf='!editFlag || data._id !== editId'> 
                           <select [ngModel]='data.enterance' disabled>
                                 <option *ngFor='let _data of hymnsData' [value]='_data._id' > {{_data.name.substr(0,30) }} </option> 
                           </select>  
                        </td>
                        <td *ngIf='!editFlag || data._id !== editId' > 
                           <select [ngModel]='data.offertory' disabled>
                                 <option *ngFor='let _data of hymnsData' [value]='_data._id'> {{_data.name.substr(0,30) }} </option> 
                           </select>  
                       </td>
                        <td *ngIf='!editFlag || data._id !== editId'> 
                           <select [ngModel]='data.communion' disabled>
                                 <option *ngFor='let _data of hymnsData' [value]='_data._id'> {{_data.name.substr(0,30)}} </option> 
                           </select>  
                        </td>
                        <td *ngIf='!editFlag || data._id !== editId'> 
                           <select [ngModel]='data.sending' disabled>
                                 <option *ngFor='let _data of hymnsData' [value]='_data._id'> {{_data.name.substr(0,25)}} </option> 
                           </select>  
                        </td>

                        <td *ngIf='!editFlag || data._id !== editId'> 
                            <input type="image" class='btn' height="24" weight="24"  (click)="editData(data._id,rowindex)"  [disabled]="editFlag" value="Edit"  src="app/image/edit.png" title="Edit"/>  
                            <input type="image" class='btn' height="24" weight="24"  (click)="deleteData(data._id,rowindex)"  [disabled]="editFlag" value="Delete"  src="app/image/delete.png" title="Delete"/> 
                            <input type="image" class='btn' height="24" weight="24"  (click)="mailData(data._id,rowindex)"  [disabled]="editFlag  || data.mailed" value="eMail"  src="app/image/mail.png" title="Mail"/>
                            
                        </td>

                        <!-- EDIT ADD Data --> 
                        
                        <td *ngIf='editFlag && data._id == editId' colspan="8">
                             <form class="form-horizontal" [formGroup]='formDatas'> 
                                <div class="form-group">
                                 <label  class='control-label col-sm-1'>Choir</label>
                                 <div class="col-sm-2">
                                    <select class='form-control' id='#ichoir' name='choir' formControlName="choir" required >
                                        <option *ngFor='let cg of gropData' [value]='cg._id' > {{cg.name}} </option>
                                    </select>    
                                 </div>
                                  <label  class='control-label col-sm-1'>Date</label>
                                  <div class="col-sm-2">
                                    <input type='date' class='form-control' id='#idate' name='date' formControlName="date"  required  autofocus>
                                 </div>
                              
                                  <label  class='control-label col-sm-1'>Name</label>
                                  <div class="col-sm-4">
                                    <input type='text' class='form-control' id='#ienterance' name='name' formControlName="name"  required >
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label  class='control-label col-sm-1'>Entrance</label>
                                 <div class="col-sm-8">
                                    <select class='form-control' id='#ienterance' name='enterance' formControlName="enterance" required>
                                        <option *ngFor='let _data of hymnsData' [value]='_data._id'> {{_data.name}} </option> 
                                    </select>  
                                 </div>
                               </div>

                              <div class="form-group">
                                 <label  class='control-label col-sm-1'>Offertory</label>
                                 <div class="col-sm-8">
                                    <select class='form-control' id='#ioffertory' name='offertory' formControlName="offertory" required>
                                        <option *ngFor='let _data of hymnsData' [value]='_data._id'> {{_data.name}} </option> 
                                    </select>  
                                 </div>
                               </div>

                              <div class="form-group">
                                 <label  class='control-label col-sm-1'>Communion</label>
                                 <div class="col-sm-8">
                                    <select class='form-control' id='#icommunion' name='communion' formControlName="communion" required>
                                        <option *ngFor='let _data of hymnsData' [value]='_data._id'> {{_data.name}} </option> 
                                    </select>  
                                 </div>
                               </div>

                              <div class="form-group">
                                 <label  class='control-label col-sm-1'>Sending</label>
                                 <div class="col-sm-8">
                                    <select class='form-control' id='#isending' name='sending' formControlName="sending" required>
                                        <option *ngFor='let _data of hymnsData' [value]='_data._id'> {{_data.name}} </option> 
                                    </select>  
                                 </div>
                               </div>

                               <div class="form-group">
                                 <label  class='control-label col-sm-1'>Song 5</label>
                                 <div class="col-sm-3">
                                    <input type='text' class='form-control' id='#iname1' name='name1' formControlName="name1" >
                                 </div>
                                 
                                 <div class="col-sm-6">
                                    <select class='form-control' id='#isong1' name='song1' formControlName="song1">
                                        <option *ngFor='let _data of hymnsData' [value]='_data._id'> {{_data.name}} </option> 
                                    </select>  
                                 </div>
                               </div>
                              <div class="form-group">
                                 <label  class='control-label col-sm-1'>Song 6</label>
                                 <div class="col-sm-3">
                                    <input type='text' class='form-control' id='#iname2' name='name2' formControlName="name2" >
                                 </div>
                                 
                                 <div class="col-sm-6">
                                    <select class='form-control' id='#isong2' name='song2' formControlName="song2">
                                        <option *ngFor='let _data of hymnsData' [value]='_data._id'> {{_data.name}} </option> 
                                    </select>  
                                 </div>
                              </div>
                             <div>
                                 <label  class='control-label col-sm-1'>Responsorial</label>
                                 <div class="col-sm-6">
                                    <input type='text' class='form-control' id='#responsorial' name='responsorial' formControlName="responsorial" >
                                 </div>

                                 <label  class='control-label col-sm-1'>Mailed</label>
                                 <div class="col-sm-1">
                                      <input  class='form-control' id='#imailed' name='mailed' formControlName="mailed" type="checkbox" checked='mailed' disabled> 
                                 </div>
                              
                               
  
                                 <div style="float:right">
                                   <input type="image" class='btn' (click)="saveData(data._id, rowindex)"  [disabled]='!formDatas.valid || !formDatas.dirty'  src="app/image/saveb.png" title="Save"/> &nbsp; &nbsp;
                                   <input type="image" (click)="cancelData(data._id, rowindex)"   src="app/image/cancelb.png" title="Cancel"/>  &nbsp; &nbsp;
                                 </div>    
                               </div>
                             </form>  
                        </td>
                    </tr>
                </tbody>
           </table>    

            <div *ngIf='alldata.length > 10'> 
               <ul *ngIf='pager.pages && pager.pages.length' class='pagination'>
                   <li [ngClass]='{disabled:pager.currentPage===1}'> 
                       <a (click)='setPage(1)'> First </a>
                   </li> 
                   <li [ngClass]='{disabled:pager.currentPage===1}'> 
                       <a (click)='setPage(pager.currentPage-1)'> Previous </a>
                   </li> 
                   <li *ngFor='let page of pager.pages' [ngClass]='{disabled:pager.currentPage===1}'> 
                       <a (click)='setPage(page)'> {{page}} </a>
                   </li> 
                   <li [ngClass]='{disabled:pager.currentPage===pager.totalPages}'> 
                       <a (click)='setPage(pager.currentPage+1)'>Next </a>
                   </li> 
                   <li [ngClass]='{disabled:pager.currentPage===pager.totalPages}'> 
                       <a (click)='setPage(pager.totalPages)'>Last </a>
                   </li> 
               </ul>
           </div>    

      </div>

 

</div>